@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Cuisine

<h4>Add a new Cuisine</h4>

<p><strong>NOTE:</strong> You need to have at least one category before you can add an Cuisine!</p>
<p>Go to @Html.ActionLink("this page", "Create", "Restaurant") to create a category.</p>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Description)
    @Html.TextBoxFor(model => model.Description)
    @Html.LabelFor(model => model.Category)
    @Html.DropDownList("RestaurantId")

    <input type="submit" value="Add new Cuisine" class="btn btn-primary" />
}
<p>@Html.ActionLink("Show all Cuisine", "Index")</p>